@charset "utf-8"

* {
    margin:0px;
    padding:0px;
}

body {
    position: relative;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-color:lightgray;
    padding:0px;
    margin:0px;
    height:100vh;
    width:100vw;
    background-size:100% 100%;
    background-repeat: no-repeat;
    
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

nav {  
    position:absolute;
    right: 1px;
}


nav a img {
    

    width: 45px;
    margin: 5px;
    border-radius: 50%;
    display: block;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
}

nav a img:hover {
    border: 2px solid rgba(255, 255, 255, 0.607);
    transform: scale(0.90);
}

#telefone{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
    padding: 1px;
    height:627px;
    width: 311px;
}

iframe#tela {
    position:relative;
    top: 80px;
    left: 22px;
    width:267px;
    height:471px;
}

picture img {
    height:90vh;
}

