@charset "utf-8"

* {
    margin:0px;
    padding:0px;
}

body {
    position: relative;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-color:lightgray;
    padding:0px;
    margin:0px;
    height:100vh;
    width:100vw;
    background-size:100% 100%;
    background-repeat: no-repeat;
    
}
nav {  
    position:absolute;
    right: 10px;;
    padding-top: 15px;
}


nav a img {
    
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    transition: all 0.5s;
    cursor: pointer;
}

nav a img:hover {
    border: 3px solid rgba(211, 211, 211, 0.489);
    transform: scale(0.90);
}

#telefone{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;

    height:627px;
    width: 311px;
}

iframe#tela {
    position:relative;
    top: 80px;
    left: 22px;
    width:269px;
    height:471px;
}

picture img {
    height:90vh;
}

